<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Peoria!!!
        {% endblock %}
    </title>

    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'peoria/style.css' %}" />
</head>


<nav class="navbar-inverse">
    <div class="container-fluid">
        <!--- Logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'peoria:home' %}" >Peoria 0.1</a>
        </div>

        <!--- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

                <li class="" >
                    <a href="{% url 'peoria:project-list' %}">
                        <span class="glyphicon glyphicon-tag"></span> Projects
                    </a>
                </li>

                <li class="" >
                    <a href="{% url 'peoria:gripe-list' %}">
                        <span class="glyphicon glyphicon-tag"></span> Gripes
                    </a>
                </li>

                <li class="" >
                    <a href="{% url 'peoria:trash' %}">
                        <span class="glyphicon glyphicon-tag"></span> Trash
                    </a>
                </li>




            </ul>
        </div>
    </div>
</nav>




	<script src="//d3js.org/d3.v3.min.js"></script>









<body>
{% block body %}
{% endblock %}
</body>

<!-- Footer -->
   <footer>
       <div class="container text-center">
           <p><a href="https://xd.adobe.com/view/f6c99c6b-420c-4b9a-ac0c-693a7c73246a/" target="blank_">Copyright</a> &copy; 2017 desig|n&#275| Urban Unicorns - All Rights Reserved.</p>
       </div>
   </footer>