{% extends 'peoria/base.html' %}
{%  block body %}

    <h1>Gripe List</h1>



        <script>



        function initMap() {

            var uluru = {lat: 40.6936, lng: -89.5890};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: uluru
            });


            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });




            {% for gripe in gripe_list  %}
                var marker = new google.maps.Marker({
                    position: {lat:{{ gripe.latitude }}, lng:{{ gripe.longitude }}},
                    label: 'gripe!',
                    map: map,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                });
            {% endfor %}

        }

        </script>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYEjsF90Cthd2KilWY9lS96vXC3I1M7wg&callback=initMap">
    </script>











<div class="container">

        <a href="{% url 'peoria:gripe-create' %}">
        <span class="glyphicon glyphicon-plus"></span>Create New Gripe
    </a>

</div>



    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Upvote</th>
                <th>Name</th>
                <th>Description</th>
                <th>Address</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            {% for gripe in gripe_list %}
                <tr>
                    <td>
<a href = "{%  url 'peoria:gripe-upvote' gripe.pk %}">Upvote!</a>


                    </td>
                    <td>{{ gripe.name }}</td>
                    <td>{{ gripe.description }}</td>
                    <td>{{ gripe.address }}</td>
                    <td>{{ gripe.votes }}</td>

                </tr>


            {% endfor %}

        </tbody>
    </table>





{% endblock %}