{% extends 'peoria/base.html' %}


{% block title %}
Peoria Home
{% endblock %}





{% block body %}



        <h1>Peoria HOME 0.1</h1>
    Hello, welcome to Peoria website!!!</br>
    Go Urban Unicorns!!!


    <h2>
    <a href = "{%  url 'peoria:gripe-list' %}">Submit your gripe!!!</a>
    </h2>







<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 75%;
       }
    </style>
  </head>
  <body>
    <h3>Peoria Infrastructure Projects </h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 40.6936, lng: -89.5890};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYEjsF90Cthd2KilWY9lS96vXC3I1M7wg&callback=initMap">
    </script>
  </body>
</html>






{% endblock %}